name: Dismiss Reviews
on:
  workflow_dispatch:  # Manual trigger

jobs:
  dismiss_reviews:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Dismiss Reviews
        run: |
          # Get the pull request number
          PR_NUMBER=$(curl --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                          "https://api.github.com/repos/${{ github.repository }}/pulls" | jq -r '.[0].number')
          echo "pr num : $PR_NUMBER"

          # Get the list of approved reviews
          REVIEWS=$(curl --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                        "https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER}/reviews" | \
                        jq -r 'map(select(.state == "APPROVED")) | .[].id')
          echo "pr num : $REVIEWS"

          # Iterate over the approved reviews and dismiss each one
          for review_id in $REVIEWS; do
            curl --request POST \
                 --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                 --url "https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER}/reviews/${review_id}/dismissals"
          done
